@font-face {
  font-family: 'Waltograph';
  src: url('waltograph42.otf') format('opentype');
}
@font-face {
  font-family: 'Waltograph Full Caps';
  src: url('waltographUI.ttf') format('truetype');
}
@font-face {
  font-family: 'Ali 2';
  src: url('Ali_2.ttf') format('truetype');
}
@font-face {
  font-family: '47 Bold';
  src: url('47-Bold.otf') format('opentype');
}
@font-face {
  font-family: '47 Bold Italic';
  src: url('47-BoldItalic.otf') format('opentype');
}
