@font-face {
  font-family: 'Waltograph';
  src: url('waltograph42.otf') format('otf');
}
@font-face {
  font-family: 'Waltograph Caps';
  src: url('waltographUI.ttf') format('ttf');
}
@font-face {
  font-family: 'Ali 2';
  src: url('Ali 2.ttf') format('ttf');
}
